<h1>Racky</h1>

<p>Dunno what Rack is exactly, buy you're logged into it now.</p>

<form action="/auth/sign_out" method="POST">
  <input type="submit" value="Sign Out" class="btn btn-default" />
</form>
