---
title: 'Dashboard'
---

<div class="container">
  <div class="col-md-12">
    <h1>Works</h1>

    <ul>
      <% works.map(&WorkDecorator).each do |w| %>
        <li>
          <a href="<%= HrefFor[w] %>"><%= w.title %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
